<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="layouts/layout.html::header"></head>
<title>Rooms</title>
</head>

<body>
	<div th:insert="layouts/layout.html::nav"></div>
	<p></p>
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item"><a class="nav-link active" id="home-tab"
				data-toggle="tab" href="#room" role="tab" aria-controls="room"
				aria-selected="true">Rooms</a></li>
			<li class="nav-item"><a class="nav-link" id="profile-tab"
				data-toggle="tab" href="#roomPrice" role="tab"
				aria-controls="roomPrice" aria-selected="false">Room's Price</a></li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="room" role="tabpanel"
				aria-labelledby="room-tab">
				<div class="container">
					<p></p>
					<div class="row">
						<div class="col">
							<h4 class="d-inline">Total:</h4>
							<span th:utext="${rooms.size().toString() + ' Records'}"><span />
						</div>
						<div class="col-1 p-0 mr-0">
							<button class="btn btn-sm btn-primary float-right"
								onclick="openAddModal('Room')" data-toggle="tooltip" title="Add">
								<i class="fa fa-plus"></i>
							</button>
						</div>
						<div class="col-3">
							<div class="input-group mb-3">
								<input type="text" class="form-control form-control-sm"
									placeholder="Searching...">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary btn-sm" type="button">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col overflow-hidden"
							style="height: calc(100vh - 220px);">
							<div class="table-reponsive h-100" style="overflow: auto;">
								<table class="table table-hover table-stripped">
									<thead class="thead-dark">
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Floor</th>
											<th>Type</th>
											<th>Capacity</th>
											<th>Total Times Ordered</th>
											<th>Updated At</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="room, state : ${rooms}">
											<tr>
												<td th:utext="${state.index + 1}"></td>
												<td th:utext="${room.getName()}"></td>
												<td th:utext="${room.getFloor()}"></td>
												<td th:utext="${room.getType()}"></td>
												<td th:utext="${room.getCapacity()}"></td>
												<td></td>
												<td th:utext="${room.getUpdatedAt()}"></td>
												<td>
													<button class="btn btn-sm btn-secondary"
														data-toggle="tooltip" title="Edit">
														<i class="fa fa-edit"></i>
													</button>
													<button class="btn btn-sm btn-danger" data-toggle="tooltip"
														title="Delete">
														<i class="fa fa-trash"></i>
													</button>
													<button class="btn btn-sm btn-warning"
														data-toggle="tooltip" title="Unactive">
														<i class="fa fa-lock"></i>
													</button>
												</td>
											</tr>
										</th:block>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="roomPrice" role="tabpanel"
				aria-labelledby="roomPrice-tab">
				<div class="container">
					<p></p>
					<div class="row">
						<div class="col">
							<h4 class="d-inline">Total:</h4>
							<span th:utext="${roomPrices.size().toString() + ' Records'}"><span />
						</div>
						<div class="col-1 p-0 mr-0">
							<button class="btn btn-sm btn-primary float-right"
								data-toggle="tooltip" title="Add">
								<i class="fa fa-plus"></i>
							</button>
						</div>
						<div class="col-3">
							<div class="input-group mb-3">
								<input type="text" class="form-control form-control-sm"
									placeholder="Searching...">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary btn-sm" type="button">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col overflow-hidden"
							style="height: calc(100vh - 220px);">
							<div class="table-reponsive h-100" style="overflow: auto;">
								<table class="table table-hover">
									<thead class="thead-dark">
										<tr>
											<th>#</th>
											<th>Check In(Hour)</th>
											<th>Check Out(Hour)</th>
											<th>Capacity</th>
											<th>Price</th>
											<th>Type Day</th>
											<th>Type Room</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="roomPrice, state : ${roomPrices}">
											<tr>
												<td th:utext="${state.index + 1}"></td>
												<td th:utext="${roomPrice.getCheckIn()}"></td>
												<td th:utext="${roomPrice.getCheckOut()}"></td>
												<td th:utext="${roomPrice.getCapacity()}"></td>
												<td th:utext="${roomPrice.getPrice()}"></td>
												<td th:utext="${roomPrice.getTypeDay()}"></td>
												<td th:utext="${roomPrice.getTypeRoom()}"></td>
												<td>
													<button class="btn btn-sm btn-secondary"
														data-toggle="tooltip" title="Edit">
														<i class="fa fa-edit"></i>
													</button>
													<button class="btn btn-sm btn-danger" data-toggle="tooltip"
														title="Delete">
														<i class="fa fa-trash"></i>
													</button>
													<button class="btn btn-sm btn-warning"
														data-toggle="tooltip" title="Unactive">
														<i class="fa fa-lock"></i>
													</button>
												</td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<body th:insert="layouts/layout.html::footer"></body>
</body>

</html>
