<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="layouts/layout.html::header"></head>
	<title>Home</title>
</head>
<body>
	<div th:insert="layouts/layout.html::nav"></div>

	<div class="container-fluid pt-3">
		<div class="row">
			<div class="col-8 overflow-hidden"
				style="height: calc(100vh - 195px);">
				<div class="row mb-2">
					<div class="col">
						<h4><i class="fa fa-home"></i> Home</h4>
						<span class="text-muted" th:inline="text">
							<i class="far fa-clock"></i>
							[[${homeDTO.getToday()}]]
						</span>
					</div>
					<div class="col-3">
						<div class="d-flex justify-content-end">
							<input type="text" class="form-control" placeholder="Searching..." id="search"/>
						</div>
						<button class="btn btn-success mt-2 float-right" 
							onclick="openService('s_bookroom')">
							<i class="far fa-calendar-check"></i> Book Room
						</button> 
					</div>
				</div>
				<div class="h-100" style="overflow-y: auto; overflow-x: hidden;">
					<div class="row mb-4" th:each="hierarchyRoom, state : ${homeDTO.hierarchyRooms}">
						<div class="col-4" th:each="room, state : ${hierarchyRoom}">
							<div class="card">
								<div class="card-header">
									<div class="d-flex justify-content-between">
										<span class="" th:inline="text"> [[${room.type}]] <i
											class="fas fa-crown text-warning"></i>
										</span>
										<span class="" th:utext="'Floor ' + ${room.floor}"></span>
										<span class="float-right" th:inline="text">
											[[${room.capacity}]] 
											<i class="fa fa-users"></i>
										</span>
									</div>
								</div>
								<div class="card-body clearfix">
									<div class="row">
										<div class="col-12">
											<span class="badge badge-info" th:utext="${room.name}"></span> 
											<button class="btn btn-outline-success btn-sm float-right" data-toggle="tooltip" title="Schedule"><i class="fas fa-calendar-alt"></i></button>
										</div>
									</div>
									<div class="row clearfix pt-1">
										<div class="col-12">
											<div class="btn-group" role="group">
												<button id="btnAction" 
													type="button"
													class="btn btn-secondary dropdown-toggle btn-sm"
													data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false">
													Actions
												</button>
												<div class="dropdown-menu" aria-labelledby="btnAction" style="cursor: pointer;">
													<a class="dropdown-item">
														<i class="far fa-address-book"></i> View Details
													</a>
													
													<a class="dropdown-item" onclick="openService('openroom')">
														<i class="fas fa-check-double"></i> Open Room
													</a> 
													<a class="dropdown-item" onclick="openService('OrderServices')">
														<i class="fas fa-cart-plus"></i> Order Services
													</a> 
													<a class="dropdown-item" onclick="openService('Checkout')">
														<i class="fas fa-cash-register"></i> Checkout
													</a>
												</div>	
											</div>
											<div class="float-right">
												<button class="btn btn-primary btn-sm"
													th:utext="${room.status}"></button>
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer">
									Customer: <b th:utext="${room.customerPhone}"></b>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="height: 69px;">
					</div>
				</div>
			</div>
			<div class="col pr-5">
				<!-- Alert message when success or error -->
				<div class="alert alert-success d-none">
				</div>
				<div class="alert alert-danger d-none">
				</div>
				<!-- End Aler -->
				<form id="formValidity">
					<div id="s_bookroom" class="services d-none">
						<h4>Book Room Information </h4>
						
						<div class="row">
							<div class="col">
								<div class="form-group mb-1">
									<label class="w-100">Customer's Name
										<input type="text" class="form-control" required name="customerName" />
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group mb-1">
									<label class="w-100">Customer's Phone 
										<input type="text" class="form-control" required name="customerPhone" />
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group mb-1">
									<label class="w-100">Hour
										<select class="form-control" name="hourBooking" required>
											<option th:each="hourBooking, state : ${homeDTO.hoursBooking}" th:value="${hourBooking}" th:utext="${hourBooking}"></option>
										</select>
									</label>
								</div>
							</div>
							<div class="col">
								<div class="form-group mb-1">
									<label class="w-100">Date
										<input type="date" name="dateBooking" class="form-control" required/>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group mb-1">
									<label for="w-100">Notes</label>
									<textarea class="form-control" rows="6" name="notes"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group mb-1">
									<div class="d-flex justify-content-end mt-2">
										<button class="btn btn-primary" onclick="bookingRoom(event, 'bookroom', '/bookroom')">Book</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="s_orderservice" class="services">
						<h4>Order Service </h4>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label class="w-100">Room
										<input type="text" class="form-control" name="roomName" readonly/>
									</label>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label class="w-100">Floor
										<input type="text" class="form-control" name="floor" readonly/>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<select class="form-control" name="productName">
									<option th:each="product : ${homeDTO.products}" th:value="${product.id}" th:utext="${product.name}"></option>
								</select>
							</div>
							<div class="col-4">
								<input type="number" placeholder="Quantity" class="form-control" name="quantity" min="1" value="1"/>
							</div>
							<div class="col-2">
								<button class="btn btn-success btn-block"><i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script>
		function openService(serviceId) {
			
			hideContainer(["services"]);
			showContainer([serviceId]);
		}
		function checkFormValidity() {
			return document.querySelector("#formValidity").checkValidity();
		}
		function bookingRoom(event, serviceName, url) {
			if (checkFormValidity()) {
				// prevent form redirect
				event.preventDefault();
				
				let service = {};
				$(`#s_${serviceName} [name]`).toArray().forEach(ele => {
					let name = ele.getAttribute("name");
					let value = ele.value;
					service[name] = value;
				});
				let bodyData = {};
				bodyData[serviceName] = service;
				console.log("Booking Room Service");
				console.table(bodyData);		
				sendRequest(url, bodyData);
			}
		}
		function sendRequest(url, bodyData) {
			
			fetch (window.location.origin + url, {
				method: "POST",
				body: JSON.stringify(bodyData)
			})
			.then(res => res.text())
			.then(res => {
				console.log("res", res);
			});
		}
		// Helper function 
		function hideContainer(classes = []) {
			classes.forEach(clazz => {
				$(`.${clazz}`).addClass("d-none");
			});
		}
		function showContainer(ids = []) {
			ids.forEach(id => {
				$(`#${id}`).removeClass("d-none");
			});
		}
	</script>
<body th:insert="layouts/layout.html::footer"></body>
</body>
</html>