<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="layouts/layout.html::header"></head>
<title>Stock</title>
</head>
<body>
	<div th:replace="layouts/layout.html::nav"></div>
	<br />
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item"><a class="nav-link active" id="stock-tab"
				data-toggle="tab" href="#stockTab" role="tab"
				aria-controls="stockTab" aria-selected="true">Stock</a></li>
			<li class="nav-item"><a class="nav-link" id="product-tab"
				data-toggle="tab" href="#productTab" role="tab"
				aria-controls="productTab" aria-selected="false">Product</a></li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="stockTab" role="tabpanel"
				aria-labelledby="stock-tab">
				<p></p>
				<div class="row">
					<div class="col">
						<h3>
							Stock Information <span class="badge badge-secondary"
								th:utext="${warehouse.packages.size()}"></span>
						</h3>
					</div>
					<div class="col-1">
						<button onclick="openModal('stock', undefined, 'Create', true)"
							class="btn btn-success float-right" data-toggle="tooltip"
							title="Add">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-reponsive h-100">
							<table class="table table-hover table-stripped" id="stock-tb">
								<thead>
									<tr>
										<th>#</th>
										<th>Package Code</th>
										<th>Products</th>
										<th>Supplier Name</th>
										<th>Entry Date</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="package, state : ${warehouse.packages}">
										<td th:utext="${state.count}"></td>
										<td th:utext="${package.code}"></td>
										<td><th:block th:each="product : ${package.products}">
												<button th:inline="text" class="btn btn-primary btn-sm">
													[[${product.name}]] <span class="badge badge-light"
														th:utext="${product.quantity}"></span>
												</button>
											</th:block></td>
										<td th:utext="${package.supplier.name}"></td>
										<td th:utext="${package.createdAt}"></td>
										<td>
											<!-- PAID = SUCCESS | DEPT = DANGER --> <span
											class="badge badge-primary" th:utext="${package.status}"></span>
										</td>
										<td>
											<button class="btn btn-sm btn-secondary"
												th:attr="onclick='openEditableModal(\'' + ${package.getJsonObject()} + '\');'"
												data-toggle="tooltip" title="Edit">
												<i class="fa fa-edit"></i>
											</button>
											<button
												th:attr="onclick='confirmModal(`Do you sure to delete ' + ${package.code} + '`, \'' + ${package.id} + '\', `warehouse/delete`);'"
												class="btn btn-sm btn-danger" data-toggle="tooltip"
												title="Delete">
												<i class="fa fa-trash"></i>
											</button>
											<button
												th:attr="onclick='confirmModal(`Do you sure to unactive ' + ${package.code} + '`, \'' + ${package.id} + '\', `warehouse/unactive`);'"
												class="btn btn-sm btn-warning" data-toggle="tooltip"
												title="Unactive">
												<i class="fa fa-lock"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="productTab" role="tabpanel"
				aria-labelledby="product-tab">
				<p></p>
				<div class="row">
					<div class="col">
						<h3>
							Product Information <span class="badge badge-secondary"
								th:utext="${warehouse.products.size()}"></span>
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-reponsive">
							<table class="table table-hover" id="product-tb">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Image</th>
										<th>Quantity</th>
										<th>Unit</th>
										<th>Bought Price</th>
										<th>Sell Price</th>
										<th>Type</th>
										<th>Expired At</th>
										<th>Package Code</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="product, state : ${warehouse.products}">
										<td th:utext="${state.count}" class="align-middle"></td>
										<td th:utext="${product.name}" class="align-middle"></td>
										<td><img th:src="${product.image}" width="60" /></td>
										<td th:utext="${product.quantity}" class="align-middle"></td>
										<td th:utext="${product.unit}" class="align-middle"></td>
										<td th:utext="${product.boughtPrice}" class="align-middle"></td>
										<td th:utext="${product.sellPrice}" class="align-middle"></td>
										<td class="align-middle"><span
											class="badge badge-primary" th:utext="${product.type}"></span></td>

										<td th:utext="${product.expiredAt}" class="align-middle"></td>
										<td th:utext="${product.packagez.code}" class="align-middle"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layouts/layout.html::stock"></div>
	
<body th:insert="layouts/layout.html::footer"></body>
<script th:src="@{/js/warehouse/index.js}"></script>
</body>

</html>