<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="layouts/layout.html::header"></head>
<title>Stock</title>
</head>
<body>
	<div th:replace="layouts/layout.html::nav"></div>
	<br />
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item"><a class="nav-link active" id="home-tab"
				data-toggle="tab" href="#supplier" role="tab" aria-controls="home"
				aria-selected="true">Stock</a></li>
			<li class="nav-item"><a class="nav-link" id="profile-tab"
				data-toggle="tab" href="#stockIn" role="tab" aria-controls="profile"
				aria-selected="false">Product</a></li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="supplier" role="tabpanel"
				aria-labelledby="supplier-tab">
				<div class="container">
					<p></p>
					<div class="row">
						<div class="col">
							<h3>Stock Information: </h3>
						</div>
						<div class="col-1">
							<button 
								onclick="openModal('stock', undefined, 'Create')"
								class="btn btn-success float-right" data-toggle="tooltip"
								title="Add">
								<i class="fa fa-plus"></i>
							</button>
						</div>

					</div>
					<div class="row">
						<div class="col">
							<div class="table-reponsive h-100" style="overflow: auto;">
								<table class="table table-hover table-stripped" id="stock-tb">
									<thead>
										<tr>
											<th>#</th>
											<th>Package Code</th>
											<th>Product Name</th>
											<th>Supplier Name</th>
											<th>Entry Date</th>
											<th>Expire At</th>
											<th>Status</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
	
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="stockIn" role="tabpanel"
				aria-labelledby="stockin-tab">
				<div class="container">
					<p></p>
					<div class="row">
						<div class="col">Total: 500 records</div>
						<div class="col-3">
							<div class="input-group mb-3">
								<input type="text" class="form-control form-control-sm"
									placeholder="Searching...">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary btn-sm" type="button">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="table-reponsive">
								<table class="table table-hover" id="product-tb">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Quantity</th>
											<th>Unit</th>
											<th>Price</th>
											<th>Type</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
	
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layouts/layout.html::stock"></div>
	<script>
		
		$(document).ready(function() {

			// config Stock DataTable
			$("#stock-tb").DataTable({
				"pageLength" : 6
			});
			$("#product-tb").DataTable({
				"pageLength" : 6
			});
			
			
			// config tooltip
			$('[data-toggle="tooltip"]').tooltip();
		});
		
		function dupplicateInput(e) {
		    let dupplicateRow = `<div class="row pt-1">
		                            <div class="col-2 pr-0">
		                                <input type="text" class="form-control product" />
		                            </div>
		                            <div class="col pr-0">
		                                <input type="text" class="form-control product" />
		                            </div>
		                            <div class="col-2 pr-0">
		                                <input type="date" class="form-control product" onchange="getLastExpiredDate()"/>
		                            </div>
		                            <div class="col pr-0">
		                                <select class="form-control product">
		                                    <option value="FOOD">Food</option>
		                                    <option value="DRINK">Drink</option>
		                                </select>
		                            </div>
		                            <div class="col pr-0">
		                                <input type="text" class="form-control product" />
		                            </div>
		                            <div class="col pr-0">
		                                <input type="text" class="form-control product boughtPrice" />
		                            </div>
		                            <div class="col pr-0">
		                                <input type="text" class="form-control product sellPrice" />
		                            </div>
		                            <div class="col p-0 d-flex justify-content-center pt-1">
			                            <button type="button" class="btn btn-danger btn-sm"
											onclick="removeDupplicateInputs(this)">
											<i class="fa fa-minus"></i>
										</button>
		                            </div>
		                        </div>`; 
		    $("div.modal-body div.container").append(dupplicateRow);
		}
		function removeDupplicateInputs(ele) {
			ele.parentNode.parentNode.remove();
		}
		
		function getLastExpiredDate() {
			
			let productsExp = $(`input[type="date"]`).not("#m_expAt").toArray().map(x => x.value);
			productsExp = productsExp.sort((a, b) => new Date(a) - new Date(b)); // sort asc
			$("#m_expAt").val(productsExp.slice(-1).toString());
		}
		function addPrice(id, value) {
			
			let price = $(`.${id}`).toArray().reduce((total, ele) => total + parseFloat(ele.value), 0);
			$(`#m_${id}`).val(price);
		}
		function addPackage(e) {
			let products = $(".product");
			var productsForm = [];
			// check empty field in products
			// check empty field in package
			// TODO...
			for (let i = 0; i < products.length; i += 7) {
				let productName = products[i].value;
				let quantity = products[i+1].value;
				let expiredAt = products[i+2].value;
				let type = products[i+3].value;
				let unit = products[i+4].value;
				let boughtPrice = products[i+5].value;
				let sellPrice = products[i+6].value;
				
				productsForm.push({productName, quantity, expiredAt, type, unit, boughtPrice, sellPrice});
			}
			let packageCode = $("#m_packageCode").val();
			let supplierId = $("#m_supplier").val();
			let status = $("#m_status").val();
			let expAt = $("#m_expAt").val();
			let boughtPrice = $("#m_boughtPrice").val();
			let sellPrice = $("#m_sellPrice").val();
			
			let packagez = {packageCode, expAt, boughtPrice, sellPrice, supplierId, status};
			
			sendAjaxRequest(packagez, productsForm);
		}
		function sendAjaxRequest(packagez, productsForm) {
			
			let bodyData = {
					"package": packagez,
					"packageProducts": productsForm
			};
			
			fetch(`${window.location.origin}/warehouse/add`, {
				method: "POST",
				body: JSON.stringify(bodyData)
			})
			.then(res => res.json())
			.then(res => {
				console.log(res);
			});
		}
	</script>

<body th:insert="layouts/layout.html::footer"></body>
</body>

</html>